.btn {
  background: #00adb5;
  color: white;
  border-radius: .3em;
  padding: .2em 0;
  position: relative;
  width: 100%;
  display: inline-block;
  text-decoration: none;
  border: solid #00adb5 1px;
  border-bottom: solid #1b888e 4px;
  text-shadow: 0px 2px 0 #00adb5;
  text-align: center;
}